---
interface Props {
	href: string;
	newTab?: boolean; // defaults to false
	rest?: Partial<HTMLAnchorElement>; // catch-all for any additional parameters, such as "aria-label"
}

const { href, newTab = true, ...rest } = Astro.props as Props;
---

<!-- add this for opening up page in new tab -->
<!-- target={newTab ? "_blank" : undefined} -->
<!-- rel={newTab ? "noopener noreferrer" : undefined} -->
<a
	href={href}
	class="nav__link--base"
	{...rest}
>
	<slot />
</a>
